app = "{{ .Name }}"
primary_region = "{{ .Region }}"

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

  [[services.http_checks]]
    interval = "15s"
    timeout = "5s"
    grace_period = "30s"
    method = "GET"
    path = "/health"
    protocol = "http"


[[vm]]
  memory = '4gb'
  cpu_kind = 'shared'
  cpus = 4

{{- if not .SkipVolume }}

[[mounts]]
  source = "{{ .Name }}_ledger"
  destination = "/var/lib/solana/ledger"
{{- end }}
